@font-face {
  font-family: verdana;
  src: url('../font/Verdana.ttf');
}
@font-face {
  font-family: charter;
  src: url('../font/CharterBlackBT.ttf');
}
body{
	font-family: verdana, Verdana, sans-serif;
	color: black;
}
.underline-header{
/*
	border-bottom: 1px solid #9B2437;
	border-bottom-width: 30px;
*/
}
.section-title{
	font-size: 3.5rem;
	font-weight: 500;
}
.school-menu-text-body, .splash-verdana{	
	font-family: verdana, Verdana, sans-serif;
}
.school-menu-text-title, .school-menu-text, .school-menu-text-age, .school-age-number, .muted-page-title, .column-title, .splash-charter{
	font-family: charter, CharterBlackBT, serif;
}
.splash-white{
	color: white;
}
.splash-burgundy{
	color: #9B2437;
}
.school-menu-card, .superscript, school-age-number, .svg-icon, .mission-statement, .school-age-number{
	display: inline-block;
} 
.muted-page-title{
	font-size: 8rem;
	font-weight: 600;
}
/*HOME*/
.home-hero{
	background-size: cover;
	background-position: center;
	height: 65vh;
}
.school-menu-section{
	width: 100%;
	font-size: 0;
}
.school-menu-card{
	font-size: 16px;
	width: 24.9%;
	border-right: 1px solid #F3F1F2;
}
.school-menu-card:hover {
	background-color: #9B2437;
	color: white !important;
}
.school-menu-text-title{
	
	font-weight: 600;
	font-size: 2em;
}

.school-menu-text-age{
	font-weight: 600;
	display: block;
}

.school-age-number{
	font-weight: 600;
	font-size: 3.5rem;
}
.school-age-number:hover, superscript:hover{
	color: white;
}
.welcome-message-container{
	height: 100vh;
    width: 80vw;
    position: absolute;
    right: 0;

}
.home-calendar{
	background-color: #9B2437;
    height: 60vh;
    position: relative;
    width: 30%;
	margin-top: -300px;
}
.home-head{
	background-size: cover;
    height: 55vh;
    width: 50vw;
    position: relative;
	margin-top: 100px;
	margin-left: 200px;
    background-repeat: no-repeat;
    background-position: center;
	z-index: 1000;
}
.column-title{
	font-weight: 400;
	font-size: 1.8em;
}
.column-header{
	font-weight: 600;
	font-size: 1.4em;
}
.calendar-header{
	font-size: 1.2em;
	font-weight: 600;
}
.calendar-body{
	font-size: 0.8em;
}
.message-box{
	width: 40vw;
    height: auto;
    position: relative;
    background-color: white;
    left: 40%;
	margin-top: -200px;
	z-index: 1001;
}
.calendar-title{
	margin-top: 120px;
}
.calendar-events{
	border-left: 4px solid white;
}
.svg-icon{
	width: 90px;
	height: auto;
}
.fact-card{
	display: inline-block;
	width: 27%;
}
.fact-title{
	margin-left: 10px;
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 120px);
}
.spring-wood-bg{
	background-color: #F9F3F3;
}
/*ABOUT*/
.intro-section-container{
	height: 60vh;
    width: 80vw;
	margin-top: 150px;
    position: relative;
    left: 0;
}
.page-hero{
	background-size: cover;
    height: 55vh;
    width: 50vw;
    position: absolute;
	right: 0;
    background-repeat: no-repeat;
    background-position: center;
	z-index: 1000;
}
.bg-intro-text{
	position: absolute;
  	bottom: 0;
  	right: 0;
}
.page-heading{
	position: absolute;
}
.intro-text-container{
	width: 45vw;
}
.mission-statement{
	vertical-align: bottom;
	width: calc(100% - 120px);
}