$tablet: "(min-width: 640px) and (max-width: 1200px) and (orientation: landscape)";
//" and (orientation: landscape)";
$tablet-portrait: "(min-width: 640px) and (max-width: 1200px) and (orientation: portrait)";

$phone: "only screen and (max-width: 640px)";
$burgundy: #9B2437;

body{
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
}


@mixin no-select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}
/* utility */
html.sr .load-hidden {
    visibility: hidden;
}
/* extension */
html.sr .school-menu-card {
  visibility: hidden;
}
html{	
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*, *:before, *:after{
	box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
a:hover{
	color: $burgundy;
	
}
@font-face {
  font-family: verdana;
  src: url('../font/Verdana.ttf');
}
@font-face {
  font-family: charter;
//  src: url('../font/CharterBlackBT.ttf');
}
body{
	font-family: verdana, Verdana, sans-serif;
	color: black;
}
.underline-header{
/*
	border-bottom: 1px solid $burgundy;
	border-bottom-width: 30px;
*/
}
.margin-from-title{
	margin-top: 100px;
	@media #{$phone, $tablet-portrait}{
		margin-top: 50px;
	}
	@media #{$tablet}{
		margin-top: 50px;
	}
}
.section-width{
	width: 70vw;
	margin: auto;
	@media #{$phone, $tablet-portrait}{
		width: 90vw;
	}
	@media #{$tablet}{
		width: 85vw;
	}
}
.section-title{
	font-size: 3.5rem;
	font-weight: 500;
	@media #{$phone, $tablet-portrait}{
		font-size: 2rem;
	}
	@media #{$tablet}{
		font-size: 2.2rem;
	}

}
.school-menu-text-body, .splash-verdana{	
	font-family: verdana, Verdana, sans-serif;
}
.school-menu-text-title, .school-menu-text, .school-menu-text-age, .school-age-number, .muted-page-title, .column-title, .splash-charter{
	font-family: charter, CharterBlackBT, serif;
}
.splash-white{
	color: white;
}
.splash-burgundy{
	color: $burgundy;
}
.fill-burgundy{
	background: $burgundy;
}
.fill-white{
	background: white;
}
.transparent-button{
	color: $burgundy;
	border: 1px solid $burgundy;
	background: none;
}
.school-menu-card, .superscript, school-age-number, .svg-icon, .mission-statement, .school-age-number{
	display: inline-block;
} 
.muted-page-title{
	font-size: 8rem;
	font-weight: 600;
	@media #{$tablet}{
		font-size: 4em;
	}
}
/*HOME*/
.home-hero{
	background-size: cover;
	background-position: center;
	height: 65vh;
}
.school-menu-section{
	width: 100%;
	font-size: 0;
}
.school-menu-text-body{
	height: 50px;
		@media #{$phone,$tablet}{
			font-size: 0.8em;
			height: auto;
		}
}
.school-menu-card{
	vertical-align: top;
	font-size: 16px;
	height: auto;
	width: 25%;
	border-right: 1px solid #F3F1F2;
	@media #{$phone, $tablet-portrait}{
		width: 100%;
		border-bottom: 1px solid #F3F1F2;
		height: auto;
	}
	@media #{$tablet-portrait}{
		width: 50%;
		border-bottom: 1px solid #F3F1F2;
		height: auto;
	}
}
.card-link:hover{
	color: white !important;
	text-decoration: none !important;
	cursor: pointer !important;
}
.school-menu-card:hover {
	cursor: pointer;
	border-right: none;
	color: white !important;
	background: none;
	animation: menu-hover-reveal 1s forwards;
}
.uk-active> .activate-card{
	border-right: none;
	color: white !important;
	background: none;
	animation: menu-hover-reveal 1s forwards;
}
.uk-active > .activate-card .school-menu-text-age > .splash-burgundy{
	color:white;
}
.uk-active > .activate-card .school-menu-text-age > .superscript{
	border-bottom: 1px solid white;
}
.uk-active > .activate-card .menu-arrow-icon > .menu-svg-arrow  path, .uk-active > .activate-card .menu-arrow-icon > .academics-menu-svg-arrow  path {
	fill: white !important;
}
.school-menu-card:hover > a .uk-padding .school-menu-text-age > .splash-burgundy{
	color:white;
}
.school-menu-card:hover > a .uk-padding .school-menu-text-age > .superscript{
	border-bottom: 1px solid white;
}
.school-menu-card:hover > a .uk-padding .menu-arrow-icon > .menu-svg-arrow  path, .school-menu-card:hover > a .uk-padding .menu-arrow-icon > .academics-menu-svg-arrow  path {
	fill: white !important;
}

.school-menu-card:hover > a .uk-padding .menu-arrow-icon > .menu-svg-arrow{
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: bounce;	
    animation-iteration-count: infinite;
}
.school-menu-card:hover > a .uk-padding .menu-arrow-icon > .academics-menu-svg-arrow{
	-webkit-animation-name: bounce-down; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: bounce-down;	
    animation-iteration-count: infinite;
}

.school-menu-card:hover > .uk-padding .school-menu-text-age > .splash-burgundy{
	color:white;
}
.school-menu-card:hover > .uk-padding .school-menu-text-age > .superscript{
	border-bottom: 1px solid white;
}
.school-menu-card:hover > .uk-padding .menu-arrow-icon > .menu-svg-arrow  path, .school-menu-card:hover > .uk-padding .menu-arrow-icon > .academics-menu-svg-arrow  path {
	fill: white !important;
}

.school-menu-card:hover > .uk-padding .menu-arrow-icon > .menu-svg-arrow{
	-webkit-animation-name: bounce; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: bounce;	
    animation-iteration-count: infinite;
}
.school-menu-card:hover > .uk-padding .menu-arrow-icon > .academics-menu-svg-arrow{
	-webkit-animation-name: bounce-down; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.8s; /* Safari 4.0 - 8.0 */
    animation-name: bounce-down;	
    animation-iteration-count: infinite;
}

.school-menu-text-title{
	height: 100px;
	font-weight: 600;
	font-size: 1.7em;
		@media #{$phone, $tablet}{
		font-size: 1.5em;
			height: auto;
	}
}
.menu-arrow-icon{
	margin: 40px 0 20px 0;
}

.school-menu-text-age{
//	font-weight: 600;
	display: block;
}

.school-age-number{
	font-weight: 600;
	font-size: 3rem;
		@media #{$phone,$tablet}{
			font-size: 2.5rem;
		}
}
.school-age-number:hover, superscript:hover{
	color: white;
}
.superscript{
	vertical-align: 100%;
	border-bottom: 1px solid $burgundy;
		@media #{$phone,$tablet}{
			font-size: 0.7em;
		}
}
.welcome-message-container{
	height: 100vh;
    width: 80vw;
    position: absolute;
    right: 0;
	@media #{$phone, $tablet-portrait}{
		display: none;
	}

}
.menu-svg-arrow, .academics-menu-svg-arrow{
	width: 40px;
	height: auto;
	@media #{$phone,$tablet}{
			width: 30px;
		}
}
.text-body{
	font-size: 0.9em;
	line-height: 1.6;
	@media #{$phone, $tablet-portrait}{
		font-size: 0.8em;
	}
	@media #{$tablet}{
		font-size: 0.8em;
	}
}
.home-calendar{
	background-color: $burgundy;
    height: auto;
    position: relative;
    width: 40%;
	margin-top: -320px;
	@media #{$phone, $tablet-portrait}{
		margin-left: 0;
		margin-top: 0;
		width: 100%;
		position: static;
		height: auto;
	}
	@media #{$tablet}{
		height: auto;
		width: 40%;
	}
}
.home-head{
	background-size: cover;
    height: 55vh;
    width: 50vw;
    position: relative;
	margin-top: 100px;
	margin-left: 200px;
    background-repeat: no-repeat;
    background-position: center;
	z-index: 1;
	@media #{$phone}{
		margin-left: 0;
		margin-top: 0;
		width: auto;
		position: static;
	}
	@media #{$tablet-portrait}{
		width: 100vw;
		margin: 0;
		position: static;
	}
	@media #{$tablet}{
		width: 60vw;
		margin-left: 100px;
	}

}
.column-title{
	font-weight: 400;
	font-size: 1.8em;
	text-align: center;
	@media #{$phone, $tablet-portrait}{
		text-align: left;
		font-size: 1.5em;
	}

}
.column-header{
	font-weight: 600;
	font-size: 1.2em;
	@media #{$phone, $tablet-portrait}{
		font-size: 1.2em;
	}
	@media #{$tablet}{
		font-size: 1em;
	}
}
.calendar-header{
	font-size: 1.2em;
	font-weight: 600;
	@media #{$phone}{
		font-size: 1em;
	}
}
.calendar-body{
	font-size: 0.8em;
}
.message-box{
	width: 40vw;
    height: auto;
    position: relative;
    background-color: white;
    left: 55%;
	margin-top: -200px;
	z-index: 2;
	@media #{$phone, $tablet-portrait}{
		margin-left: 0;
		margin-top: 0;
		width: 100vw;
		position: static;
	}
	@media #{$tablet}{
		margin-top: -120px;
		left: 45%;
		width: 50vw;
	}
}
.calendar-title{
	margin-top: 120px;
	@media #{$phone, $tablet-portrait}{
		margin-top: 0;
	}

}
.calendar-events{
	    display: inline-block;
		border-left: 1px solid white;
		width: 45%;
		vertical-align: top;
	@media #{$phone, $tablet-portrait}{
		margin-top: 30px;
	}
}
.svg-icon{
	width: 70px;
	height: auto;
	@media #{$phone, $tablet-portrait}{
		width: 45px;
	}
}
.fact-card{
	display: inline-block;
	vertical-align: top;
	width: calc(69vw / 3);
	@media #{$phone, $tablet-portrait}{
		width: auto;
		margin-top: 15px;
	}
	@media #{$tablet}{
		width: calc(98% / 3);
//		margin-top: 15px;
	}
}
.application-card{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: 100px;
	@media #{$phone, $tablet-portrait}{
		width: 100%;
		margin-top: 15px;
		margin-bottom: 0px;
	}
	@media #{$tablet}{
		width: auto;
//		margin-top: 15px;
	}
}
.left-fact-padding{
	padding-right: 60px;
	@media #{$phone, $tablet-portrait}{
		padding-right: 0px;
	}
}
.mid-fact-padding{
	padding: 0 30px;
	@media #{$phone, $tablet-portrait}{
		padding: 0 0;
	}
}
.right-fact-padding{
	padding-left: 60px;
		@media #{$phone, $tablet-portrait}{
		padding-left: 0px;
	}
}
.fact-title{
	margin-left: 10px;
	display: inline-block;
	vertical-align: bottom;
	width: calc(100% - 120px);
	@media #{$phone}{
		font-size: 1em;
	}
	@media #{$phone, $tablet-portrait}{
		padding-top: 15px;
	}
}
.spring-wood-bg{
	background-color: #F9F3F3;
}
/*ABOUT*/
.intro-section-container{
	min-height: 60vh;
	height: auto;
    width: 80vw;
	margin-top: 150px;
    position: relative;
    left: 0;
	@media #{$phone, $tablet-portrait}{
		width: 100vw;
		min-height: auto;
		margin-top: 0;
		position: static;
		height: auto;
		background-color: white;
	}
}
.intro-section-button{
	border: 1px solid $burgundy;
	@media #{$phone, $tablet-portrait}{
		padding: 0 20px;
		line-height: 45px;
	}
}
//.intro-section-button:hover{
//	border: 1px solid $burgundy;
//	color: $burgundy;
//	background-color: white;
//}
.intro-section-button:hover {
//	background-color: $burgundy;
	border: 1px solid $burgundy;
	color: $burgundy;
	background-color: white;
	animation: button-hover-reveal 1s forwards;
}
.admission-cta-button-inner:hover{
	border: 1px solid $burgundy;
	background: white;
	color: $burgundy;
	animation: button-hover-reveal 1s forwards;
}

.page-hero{
	background-size: cover;
    height: 55vh;
    width: 50vw;
    position: absolute;
	right: 0;
    background-repeat: no-repeat;
    background-position: center;
	z-index: 1;
	@media #{$phone, $tablet-portrait}{
		position: static;
		height: 35vh;
		width: 100%;
	}
}
.bg-intro-text{
	position: absolute;
  	bottom: 0;
  	right: 0;
	@media #{$phone, $tablet-portrait}{
		display: none;
	}
}
.page-heading{
	position: absolute;
	@media #{$phone, $tablet-portrait}{
		position: static;
	}
}
.intro-text-container{
	width: 45vw;
	@media #{$phone, $tablet-portrait}{
		width: 100vw;
	}
}
.admission-process-section{
	height: 50vh;
	@media #{$phone, $tablet-portrait}{
		height: auto;
	}
}
.mission-statement{
	vertical-align: top;
	width: calc(100% - 120px);
	font-size: 1.1em;
	border-left: 3px solid rgb(255, 232, 236);
	padding-left: 40px;
	@media #{$phone, $tablet-portrait}{
		font-size: 1em;
		width: auto;
		text-align: left;
		padding-left: 20px;
	}
}
.mission-statement-icon{
	@media #{$phone, $tablet-portrait}{
		width: 45px;
		text-align: center;
	}
}
.mgt-image{
	width: 200px;
}
.admission-cta-button{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -29px;
	z-index: 1;
    
}
.admission-cta-button-inner{
	transform: translatex(-50%);
    margin-left: 50%;
    color: white;
	padding: 10px 0px;
    background: $burgundy;
    border: none;
    width: 350px;
	@media #{$phone, $tablet-portrait}{
		width: 100%;
		margin-left: 0px;
		transform: translateX(0%);
	}
}
/*Campus Life*/
.campus-life-calendar{
	background-color: $burgundy;
    height: 60vh;
    position: relative;
    width: 30%;
	margin-top: -100px;
}
.contact-section{
	position: relative; 
	margin-top: -29px;
}
/*Header*/

header {
  font-weight: 300;
  width: 100vw;
  height: 75px;
  position: static;
  background: white;
//  z-index: 950;
  transition: top 0.2s ease-in-out;
  top: 0; 
}
  @media only screen and (max-width: 640px) {
    header {
     	height: 50px; 
		position: fixed;
	  	background: rgba(255, 255, 255, 0.95);
	  	z-index: 950;
	  	transition: top 0.2s ease-in-out;
	  	top: 0;
	  } 
}

.header-upper {
  position: absolute;
  width: 100%;
  z-index: 100; }
  @media only screen and (max-width: 640px) {
    .header-upper {
      display: none; } }
  @media (min-width: 640px) and (max-width: 1200px) {
    .header-upper {
      display: none; } }

.clear-menu {
  text-align: right;
  width: inherit;
  padding: 20px 50px; }
  .clear-menu li {
    display: inline;
    list-style-type: none;
    font-size: 0.8em;
    text-transform: uppercase;
    color: black;
//    padding: 0 25px; 
}
    .clear-menu li:hover {
      color: $burgundy;
		font-weight: 500;
}
.logo-div {
  position: absolute;
  padding: 15px 35px;
  z-index: 200; }
  @media only screen and (max-width: 640px) {
    .logo-div {
      padding: 5px 0; } }

.mobile-logo-div{
	  position: absolute;
	  padding: 15px 5px;
	  z-index: 200;
	width: 50px;
	top: 0;
}
.logo-white{
	width: 60px;
}

@media only screen and (max-width: 640px) {
  .mobile-center {
    text-align: center; } }
@media only screen and (max-width: 640px) {
  .mobile-center {
    text-align: center; } }

.mobile-menu-wrap {
  background-color: white;
  color: white;
  font-size: 0;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 300;
  transition: all .5s ease-in-out;
  padding: 75px 25px; }

.menu-icon {
  z-index: 400;
  position: fixed;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  transition: all .35s ease-in-out;
  display: none;
  background-color: fade(#000, 15%);
  border-radius: 5px; }
  @media only screen and (max-width: 640px) {
    .menu-icon {
      display: block; } }
  @media (min-width: 640px) and (max-width: 1200px) {
    .menu-icon {
      display: block;
      top: 25px;
      right: 25px; } }

.icon-bar {
  width: 35px;
  height: 2px;
  background-color: $burgundy;
  margin: 10px; }

.menu-icon-active {
  transform: rotate(90deg); }

.icon-bar {
  width: 35px;
  height: 2px;
  margin: 10px; }

.menu-icon-inactive {
  color: $burgundy; }

.mobile-menu li {
	border-top: 1px solid #F3F1F2;
	display: block;
	padding: 13px 0;
	font-size: 1rem;
	color: #353535;
	white-space: nowrap;
	transition: all .5s ease-in-out; }

.menu-open {
  width: 100vw;
  left: 0;
  color: white; }
  .menu-open .mobile-menu li {
//    text-indent: 10vw; 
}
.mobile-menu ul {
    padding-left:  0px; 
}
.mobile-menu-button{
	width: 100%;
	color: white;
}
.menu-closed {
  width: 0;
  left: 100vw; }
  .menu-closed .mobile-menu li {
    text-indent: -150vw; }

.mini-banner-wrap {
  width: 100vw;
  min-height: 65vh;
  background-color: #7f8c8d;
  display: table;
  background-size: cover;
  background-attachment: fixed; }
  .mini-banner-wrap .banner-inner {
    padding: 100px 0; }
  @media only screen and (max-width: 640px) {
    .mini-banner-wrap {
      background-attachment: scroll; } }


@keyframes bounce {
  50% { transform: translateX(20px); }

}
@keyframes bounce-down {
  50% { transform: translateY(20px); 
	}
}
@keyframes menu-hover-reveal{
	0% {
		box-shadow: 10px 15px white;
		background-color: white;
  }
	25%{
		background-color: $burgundy;
		box-shadow: 20px 25px #ff00003d;
	}
  100% {  
	  background-color: $burgundy;
	  box-shadow: 15px 20px #ff00003d;
	  
  }
}
@keyframes button-hover-reveal{
	0% {
		box-shadow: 5px 10px white;
  }
	25%{
		box-shadow: 20px 25px #ff00003d;
	}
  100% {
	  box-shadow: 10px 15px #ff00003d;
  }
}
.highlight{
  display: inline-block;
  position: relative;
  z-index: 2;
  width: auto;
  color: #222;
  font-size: 1em;
//  line-height: 1.15em;
//  font-family: arial;
  text-decoration: none;
  padding: 0 10px;
  white-space: no-wrap;
}
.highlight:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #ff00003d 50%);
  background-position: -0% 0;
  background-size: 200% 10px;
  transition: background-position 0.2s ease-out;
 
  -webkit-transform: skew(0deg, -1.5deg);
  transform: skew(0deg, -1.5deg);
  opacity: 0.8;
}
.highlight:hover:before {
  background-position: -99.99% 0;
}

.footer-logo-container{
	
	padding: 20px;
	padding-left: 0px;
}
.footer-logo-div{
    margin: auto;
}
.footer-logo-white{
	    width: 150px !important;
}
.footer-school-title{
//	    width: 100%;
	vertical-align: -webkit-baseline-middle;
	padding-bottom: 10px;
    font-size: 1.5rem;
	color: white
}
.footer-menu-items{
	display: inline-block;
	padding: 0 10px;
	border-right: 1px solid #cccccc52;
	
}
.footer-link:hover{
	color: white;
	font-weight: 500;
}
.footer-menu{
	font-size: 1em;
	margin-top: 30px;
	width: 100%;
	color: white;
	@media #{$phone, $tablet-portrait, $tablet}{
		font-size: 0.8em;
	}
}
.footer-location{
	display: inline-block;
	width: 40%;	
	vertical-align: top;
	@media #{$phone, $tablet-portrait}{
		width: 100%;
	}
}

.footer-site-map{
	display: inline-block;
	width: 59%;
	vertical-align: top;
	@media #{$phone, $tablet-portrait}{
		margin-top: 20px;
		width: 100%;
	}
}
.contact-page-hero{
	background-size: cover;
    height: 45vh;
    width: 50vw;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    margin-top: 100px;
    margin-right: 100px;
	@media #{$phone, $tablet-portrait}{
		position: static;
		height: 35vh;
		width: 100%;
		margin-top: 0px;
	}
	@media #{$tablet, $phone, $tablet-portrait}{
		font-size: 0.8em;
	}
	@media #{$tablet}{
		margin-right: 0px;
	}
	
}
.contact-section-hero{
    background-size: cover;
    height: 50vh;
    width: 45vw;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    bottom: 0;
    margin-bottom: 100px;
	@media #{$phone, $tablet-portrait}{
		position: static;
		height: 35vh;
		width: 100%;
		margin-top: 0px;
		display: none;
	}
	@media #{$tablet, $phone, $tablet-portrait}{
		font-size: 0.8em;
	}
	@media #{$tablet}{
		margin-right: 0px;
	}
	
}
.geo-location-text{
	font-size: 0.9em;
}
.contact-page-section{
	@media #{ $phone, $tablet-portrait}{
		margin-top: 50px;
	}
	margin-top: 0px;
}
.mobile-padding{
		@media #{$phone, $tablet-portrait}{
		padding: 15px;
	}
}
.fact-card > .text-body, .fact-header > .mission-statement{
	@media #{$phone, $tablet-portrait}{
		margin: 0px !important;
	}
}
.mobile-padding-remove{
		@media #{$phone, $tablet-portrait}{
		padding: 0;
	}
}
.svg-card{
	display: inline-block;
	vertical-align: top;
	width: calc(69vw / 3);
	margin: 0 0 40px 0;
	@media #{$phone, $tablet-portrait}{
		width: 100%;
		margin-top: 15px;
		margin: 0 0 10px 0;
	}
	@media #{$tablet}{
		width: calc(98% / 3);
//		margin-top: 15px;
	}
}