a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

@font-face {
  font-family: verdana;
  src: url("../font/Verdana.ttf"); }
@font-face {
  font-family: charter;
  src: url("../font/CharterBlackBT.ttf"); }
body {
  font-family: verdana, Verdana, sans-serif;
  color: black; }

.underline-header {
  /*
  	border-bottom: 1px solid $burgundy;
  	border-bottom-width: 30px;
  */ }

.margin-from-title {
  margin-top: 150px; }

.section-width {
  width: 70vw;
  margin: auto; }

.section-title {
  font-size: 3.5rem;
  font-weight: 500; }
  @media only screen and (max-width: 640px) {
    .section-title {
      font-size: 2rem; } }

.school-menu-text-body, .splash-verdana {
  font-family: verdana, Verdana, sans-serif; }

.school-menu-text-title, .school-menu-text, .school-menu-text-age, .school-age-number, .muted-page-title, .column-title, .splash-charter {
  font-family: charter, CharterBlackBT, serif; }

.splash-white {
  color: white; }

.splash-burgundy {
  color: #9B2437; }

.fill-burgundy {
  background: #9B2437; }

.fill-white {
  background: white; }

.transparent-button {
  color: #9B2437;
  border: 1px solid #9B2437;
  background: none; }

.school-menu-card, .superscript, school-age-number, .svg-icon, .mission-statement, .school-age-number {
  display: inline-block; }

.muted-page-title {
  font-size: 8rem;
  font-weight: 600; }

/*HOME*/
.home-hero {
  background-size: cover;
  background-position: center;
  height: 65vh; }

.school-menu-section {
  width: 100%;
  font-size: 0; }

.school-menu-card {
  font-size: 16px;
  width: calc(25% - 1px);
  border-right: 1px solid #F3F1F2; }
  @media only screen and (max-width: 640px) {
    .school-menu-card {
      width: 100%;
      border-bottom: 1px solid #F3F1F2; } }

.school-menu-card:hover {
  background-color: #9B2437;
  color: white !important; }

.school-menu-card:hover > .uk-padding .school-menu-text-age > .splash-burgundy {
  color: white; }

.school-menu-text-title {
  font-weight: 600;
  font-size: 2em; }

.school-menu-text-age {
  display: block; }

.school-age-number {
  font-weight: 600;
  font-size: 3.5rem; }

.school-age-number:hover, superscript:hover {
  color: white; }

.superscript {
  vertical-align: 100%;
  border-bottom: 1px solid #9B2437; }

.welcome-message-container {
  height: 100vh;
  width: 80vw;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 640px) {
    .welcome-message-container {
      display: none; } }

.text-body {
  font-size: 0.9em; }
  @media only screen and (max-width: 640px) {
    .text-body {
      font-size: 0.9em; } }

.home-calendar {
  background-color: #9B2437;
  height: 60vh;
  position: relative;
  width: 30%;
  margin-top: -300px; }
  @media only screen and (max-width: 640px) {
    .home-calendar {
      margin-left: 0;
      margin-top: 0;
      width: auto;
      position: static;
      height: auto; } }

.home-head {
  background-size: cover;
  height: 55vh;
  width: 50vw;
  position: relative;
  margin-top: 100px;
  margin-left: 200px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000; }
  @media only screen and (max-width: 640px) {
    .home-head {
      margin-left: 0;
      margin-top: 0;
      width: auto;
      position: static; } }

.column-title {
  font-weight: 400;
  font-size: 1.8em;
  text-align: center; }
  @media only screen and (max-width: 640px) {
    .column-title {
      text-align: left;
      font-size: 1.5em; } }

.column-header {
  font-weight: 600;
  font-size: 1.2em; }
  @media only screen and (max-width: 640px) {
    .column-header {
      font-size: 1.2em; } }

.calendar-header {
  font-size: 1.2em;
  font-weight: 600; }

.calendar-body {
  font-size: 0.8em; }

.message-box {
  width: 40vw;
  height: auto;
  position: relative;
  background-color: white;
  left: 40%;
  margin-top: -200px;
  z-index: 1001; }
  @media only screen and (max-width: 640px) {
    .message-box {
      margin-left: 0;
      margin-top: 0;
      width: auto;
      position: static; } }

.calendar-title {
  margin-top: 120px; }
  @media only screen and (max-width: 640px) {
    .calendar-title {
      margin-top: 0; } }

.calendar-events {
  border-left: 4px solid white; }
  @media only screen and (max-width: 640px) {
    .calendar-events {
      margin-top: 30px; } }

.svg-icon {
  width: 70px;
  height: auto; }
  @media only screen and (max-width: 640px) {
    .svg-icon {
      width: 55px; } }

.fact-card {
  display: inline-block;
  width: calc(69vw / 3); }
  @media only screen and (max-width: 640px) {
    .fact-card {
      width: auto;
      margin-top: 15px; } }

.left-fact-padding {
  padding-right: 60px; }
  @media only screen and (max-width: 640px) {
    .left-fact-padding {
      padding-right: 0px; } }

.mid-fact-padding {
  padding: 0 30px; }
  @media only screen and (max-width: 640px) {
    .mid-fact-padding {
      padding: 0 0; } }

.right-fact-padding {
  padding-left: 60px; }
  @media only screen and (max-width: 640px) {
    .right-fact-padding {
      padding-left: 0px; } }

.fact-title {
  margin-left: 10px;
  display: inline-block;
  vertical-align: bottom;
  width: calc(100% - 120px); }
  @media only screen and (max-width: 640px) {
    .fact-title {
      padding-top: 15px; } }

.spring-wood-bg {
  background-color: #F9F3F3; }

/*ABOUT*/
.intro-section-container {
  height: 60vh;
  width: 80vw;
  margin-top: 150px;
  position: relative;
  left: 0; }
  @media only screen and (max-width: 640px) {
    .intro-section-container {
      width: 100vw;
      margin-top: 0;
      position: static;
      height: auto;
      background-color: white; } }

@media only screen and (max-width: 640px) {
  .intro-section-button {
    padding: 0 20px;
    line-height: 45px; } }

.page-hero {
  background-size: cover;
  height: 55vh;
  width: 50vw;
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000; }
  @media only screen and (max-width: 640px) {
    .page-hero {
      position: static;
      height: 35vh;
      width: 100%; } }

.bg-intro-text {
  position: absolute;
  bottom: 0;
  right: 0; }
  @media only screen and (max-width: 640px) {
    .bg-intro-text {
      display: none; } }

.page-heading {
  position: absolute; }
  @media only screen and (max-width: 640px) {
    .page-heading {
      position: static; } }

.intro-text-container {
  width: 45vw; }
  @media only screen and (max-width: 640px) {
    .intro-text-container {
      width: 100vw; } }

.admission-process-section {
  height: 50vh; }
  @media only screen and (max-width: 640px) {
    .admission-process-section {
      height: auto; } }

.mission-statement {
  vertical-align: top;
  width: calc(100% - 120px);
  font-size: 1.2em; }
  @media only screen and (max-width: 640px) {
    .mission-statement {
      font-size: 1em;
      width: auto;
      text-align: left; } }

@media only screen and (max-width: 640px) {
  .mission-statement-icon {
    width: 45px;
    text-align: center; } }

.mgt-image {
  width: 200px; }

.admission-cta-button {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 50%);
  margin-left: calc(50% - 40px); }

.admission-cta-button-inner {
  width: 50vw;
  height: 10vh;
  border: none; }
  @media only screen and (max-width: 640px) {
    .admission-cta-button-inner {
      width: auto;
      height: auto; } }

/*Campus Life*/
.campus-life-calendar {
  background-color: #9B2437;
  height: 60vh;
  position: relative;
  width: 30%;
  margin-top: -100px; }

/*# sourceMappingURL=custom.css.map */
